@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-br from-zinc-900 to-neutral-950 text-zinc-50 min-h-screen;
}

.btn {
  @apply bg-rose-600 mt-3 rounded-md uppercase active:scale-95 hover:bg-rose-500 py-2 font-medium;
}

::selection {
  @apply bg-zinc-50 text-zinc-950;
}
input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
  margin: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.neu {
  box-shadow: 20px 20px 60px #171818, -20px -20px 60px #141414;
}
